{{!-- NavBar --}}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="/" id="logo-container" class="brand-logo" style="color: green;"><i
          class="material-icons">loop</i><h4>Tread Lightly</h4></a>
      <ul class="right hide-on-med-and-down">
        {{!-- <li><a href="/treadLight/views/profile.handlebars" style="color: rgb(6, 43, 6)">Profile</a></li>
        <li><a href="/treadLight/views/register.handlebars" --}}
            class="btn-large waves-effect waves-light green lighten-1">Sign up</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {{!-- <li><a href="/treadLight/views/profile.handlebars">Profile</a></li>
        <li><a href="/treadLight/views/register.handlebars"
            class="btn-large waves-effect waves-light green lighten-1">Sign up</a></li> --}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
 
    </div>
  </nav>


{{!-- login with image --}}
<div class="parallax-container">
    <div class="parallax"><img src="/img/trees.jpg"></div>
    <div class="container">
        <br><br>
        <div class="row">
            <h4 class="header col12 s12 light" id="head1" style="color: rgb(12, 56, 12); float:left;">Make educated travel
                decisions to reduce
                your carbon footprint.</h4>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
        </div>
        <div class="row center">
            <a href="/login" id="download-button"
                class="btn-large waves-effect waves-light green lighten-1">Log in</a>
        </div>
    </div>
</div>

{{!-- Icon section white background --}}
<div class="section white">
    <div class="row container center">
        <h4 class="header " style="color:rgb(12, 56, 12);">This is how it works.</h4>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h1 class="center green-text"><i class="large material-icons">check_circle</i></h1>
                <h5 class="center">Sign up</h5>
                <p class="light">Sign up to become a part of the solutuion to saving our planet</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block">
                <h1 class="center green-text"><i class="large material-icons">time_to_leave</i></h1>
                <h5 class="center">Describe Your Trip</h5>
                <p class="light">Use our climate calculator to get your estimated carbon footprint. You can choose a
                    variety of travel options</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block">
                <h1 class="center green-text"><i class="large material-icons">loop</i></h1>
                <h5 class="center">Save Our Planet</h5>
                <p class="light">Donate to help offset your carbon footprint from your travels</p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="img/sky-forest.jpg"></div>
</div>