  {{!-- NavBar --}}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="/" id="logo-container" class="brand-logo" style="color: green;"><i
          class="material-icons">loop</i>Tread Lightly</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/trip" style="color: rgb(6, 43, 6)">Trip</a></li>
        <li><a href="/" class="btn-large waves-effect waves-light green lighten-1">Log out</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {{!-- <li><a href="/treadLight/views/profile.handlebars">Profile</a></li>
        <li><a href="/treadLight/views/register.handlebars"
            class="btn-large waves-effect waves-light green lighten-1">Sign up</a></li> --}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
 
    </div>
  </nav>


{{!-- profile --}}
<div class="parallax-container">
    <div class="parallax"><img src="img/sky-forest.jpg"></div>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col s12 m8">
                <div class="card">
                    <div class="center card-action green lighten-1 white-text">
                        <h5>Hi {{first_name}}!</h5>
                    </div>
                    <div class="card-content">
                        <div class="form-field">
                            <h4 style="color:  rgb(6, 43, 6)">CO2 tracker to date:</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut odio non eaque perferendis nobis quae beatae sed dolore provident. At, modi dolores sapiente alias quam aliquam pariatur nesciunt quia.</p>
                        </div><br>
                        <div class="form-field">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil rem voluptatem et, fugit animi excepturi voluptas deleniti molestias ducimus maiores, soluta enim, aliquam minima qui deserunt earum obcaecati dolorem magnam!</p>
                        </div><br>
                      
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>