<div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <div class="row">
                    <h4 class="header col s12 light" style="color: rgb(12, 56, 12);">Make educated travel decisions to
                        reduce your carbon footprint! </h4>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="tree.jpeg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card">
                <div class=" center card-action green lighten-1 white-text">
                    <h5>Choose your destination</h5>
                </div>

                <div class="card-content">
                    <div class="form-field">
                        <label for="departcity">Departing City</label>
                        <input type="text" id="departcity">
                    </div><br>
                    <div class="form-field">
                        <label for="arrivecity">Arrival City</label>
                        <input type="text" id="arrivecity">
                    </div><br>

                
                    <div class="input-field col s12">
                        <select>
                          <option value="" disabled selected>Choose your travel option</option>
                          <option value="1">Plane</option>
                          <option value="2">Train</option>
                          <option value="3">Auto</option>
                        </select>
                        <label>Vehicle Type</label>
                      </div>

                    <div class="form-field">
                        <button class="btn-large waves-effect waves-dark green" style="width: 100%;">Check my carbon footprint</button>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="parallax"><img src="sky forest.jpeg" alt="Unsplashed background img 2"></div>
    </div>